
body {
	background: #dde5ef;
}

* { 
	padding: 0; 
	font-family: verdana, helvetica, arial, sans-serif;
	color:#a0a0a0;
}


a {
	text-decoration:none;
	color:#c0a040;
}

#container {
  position:relative;
  margin:0 auto;
  width: 600px;
}

#demoCanvas {
  background: #00002f;
  border: 1px solid #ffffff;
}

